# Byte-compiled / cache files
__pycache__/
*.py[cod]

# PyInstaller build/dist folders and spec files
build/
dist/
*.spec

# Virtual environments
venv/
ENV/
env/
.venv/

# OS files
.DS_Store
Thumbs.db
